{% extends "base.html" %}

{% block body %}
  
    
    <div class="container mt-5">
        <h3>About Car Form</h3>
        <p>
            This is a simple Car inventory application built with Django. Use this application to manage your car inventory by adding new cars through the provided form. If you own a car, log in and add it to your inventory using the form.
        </p>
        <h3>About Car List</h3>
        <p>
            The Car List displays all the cars in the inventory. Anyone can view the list to see the cars that have been added to the system.
        </p>
        <h3>Login | Register</h3>
        <p>
            If you don't have an account yet, you can register by clicking the "Register" button above. If you already have an account, please log in to use the Car Form and manage your car inventory.
        </p>
    </div>

{% endblock body %}