{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block body %}
<h2 style="text-align: center;"><b><u>All Car List</u></b></h2>
<table id="example" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Model</th>
            <th>Year</th>
            <th>Car Type</th>
            <th>Battery Capacity(kWh)</th>
            <th>Fuel Efficiency(MPG)</th>
            <th>Create_At</th>
        </tr>
    </thead>
    <tbody>
        {% for car in cars %}
        <tr>
            <td>{{ car.name }}</td>
            <td>{{ car.model }}</td>
            <td>{{ car.year }}</td>
            <td>{{ car.car_type }}</td>
            <td>{% if car.battery_capacity %}{{ car.battery_capacity }}{% else %}-{% endif %}</td>
            <td>{% if car.fuel_efficiency %}{{ car.fuel_efficiency }}{% else %}-{% endif %}</td>
            <td>{{ car.create_at }}</td>
        </tr>
        {% endfor %}

    </tbody>
    <tfoot>
        <tr>
            <th>Name</th>
            <th>Model</th>
            <th>Year</th>
            <th>Car Type</th>
            <th>Battery Capacity(kWh)</th>
            <th>Fuel Efficiency(MPG)</th>
            <th>Create_At</th>
        </tr>
    </tfoot>
</table>


{% endblock body %}